
/*menu no responsive*/
.menuresponsive{
    display: none;
}
.logo-noresponsive{
    width: 250px;
    height: 100px;
}

.nav-bar{
    display: flex;
    width: 100vw;
    height: 100px;
    background-color: #B9452E;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul{
    display: flex;
    width: 50vw;
    justify-content: end;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 30px;
}

.nav-bar ul li{
    margin-left:20px;
    margin-right: 20px;
}

.nav-bar a{
    text-decoration: none;
    color: #FFF;
}

.nav-bar ul li:hover{
  text-decoration: underline;
  text-decoration-color:#FFF;
}
.empresa{
  display: flex;
  justify-content: center;

   background-color: aqua;

}
.nuestra{
  width: 22%;
  height: 20%;
  background-color: #B9452E;
  margin-left: 15px;
  
}

.eleginos{
  width: 22%;
  height: 20%;
  background-color: #B9452E;
    margin-left: 15px;

}
.versatilidad{
   width: 22%;
  height: 20%;
  background-color: #B9452E;
  margin-left: 15px;
}

.empresa i{
  background-color: pink;
  
}


/*Fin menu no responsive*/
/*Portada*/
.portada-gonzat {
  position: relative;
  width: 100vw;
  overflow: hidden;
  transform: skewY(-4deg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #32284D;
  height: 90vh; 
  margin-top: 50px; 
  padding: 50px;
  box-sizing: border-box;
  transition: height 0.5s ease; /* Agregamos una transición para suavizar la minimización */
}

.portada-gonzat img {
  max-width: 50%;
  height: auto;
  position: relative;
}

.img-1 {
  animation: slide-up 1s ease;
}

.img-2 {
  animation: slide-down 1s ease;
}

@keyframes slide-up {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }
}



/*Seccion empresa descripción*/
.empresa-gonzat {
  width:100vw;
  background-color: #f0f0f0;
  height: auto;
  padding: 50px;
  box-sizing: border-box;
}

.logo-en-descripcion-empresa{
  width: 300px;
  height: 150px;
}

.articulo-info-empresa{
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  text-align: center; 
  
}

.articulo-info-empresa h3{
  margin-top: 30px;
  margin-bottom: 30px;
}

.articulo-info-empresa p {
  margin-bottom: 30px;
}
.trabajos-realizados {
  display: flex;
  justify-content: space-between;
}

.trabajos-realizados img {
  flex: 1;
  margin-right: 10px;
  max-height: 400px; 
}

#carouselExampleSlidesOnly .carousel-inner .carousel-item .col img {
  width: 100px; 
  height: 200px; 
}
/*Titulo carrousel*/
.titulo-carrousel{
    width: 100vw;
    text-align: center;
    background: none;
}

/*Página Contacto*/
.contacto-seccion{
  display: flex;
  justify-content: space-around;

}

.datos-contacto {
  width: 600px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: #32284D;
  margin: 15px;
  border-radius: 1rem;
}

.iconos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.iconos i {
 
  font-size: 46px;
  padding: 25px;
  margin: 30px;


  
 
}

/* Estilos adicionales para los títulos */
.datos-contacto h2 {
  margin: 25px;
 
}

/*Página proyectos*/
.proyecto-carousel {
  max-width: 600px; 
  margin: 0 auto; 
}
.proyecto-carousel img {
  max-width: 600px; 
  height: 600px; 
}


/*Footer*/

footer{
 display: flex;
 width: 100vw;
 justify-content: space-around;
 background-color: #B9452E;
}

.seccion-footer{
  margin-top:20px;
  color:#FFF;
  font-weight: bold;
}

.seccion-footer a{
  text-decoration: none;
  color:#FFF;
}

@media(max-width:600px){
    .menunonresponsive{
        display:none;
       }

    .nav-bar{
        display: none;
    }
    .menuresponsive{
        display: contents;
    }

    .contenido-img-list{
        display:flex;
        width: 100vw;
        justify-content: space-between;
    }
   
    .logo-responsive{
        width: 100px;
        height: 50px;
    }
    .respmenu-link {
          color: #FFF;
          text-decoration: none;
          display: block;
          padding: 10px 20px;
          width: 50vw;
          max-width: 100vw;
          font-variant: small-caps;
          background-color: #dfd8dae2; /*fondo del menu*/
          font-weight: bold;
    }
        .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
          position: absolute;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          right: 0;
          top: 0;
          width: 48px;
          height: 48px;
        }
        
        .respmenu .fa-bars, .respmenu .fa-times {
          font-size: 48px;
          pointer-events: none;
        }
        
        .respmenu input[type="checkbox"] {
          opacity: 0;
        }
        
        .respmenu {
          color: #FFF;
          position: relative;
          background: #B9452E;
          min-height: 48px;
        }
        
        .respmenu nav {
          display: none;
        }
        
        .respmenu input:checked ~ nav {
          display: block;
        }
        
        .respmenu input:checked ~ .fa-bars {
          display: none;
        }
        
        .respmenu input:not(:checked) ~ .fa-times {
          display: none;
        }
        .portada-gonzat {
          height: 50vh; 
          margin-top: 20px; 
      }
  
      .portada-gonzat img {
          max-width: 90%; 
      }
      .empresa-gonzat {
        padding: 20px; 
      }
    
      .logo-en-descripcion-empresa {
        width: 200px; 
      }
      .trabajos-realizados {
        flex-direction: row;
      }
      
      .trabajos-realizados img {
        margin:2px;
        width: calc(100% / 3); 
        height: auto;
      }
      #carouselExampleSlidesOnly .carousel-inner .carousel-item .col img {
        width: 50px; /* Establece el ancho deseado */
        height: 100px; /* Establece la altura deseada */
      }

    
       
      footer{
        display:block;
      }
      .seccion-footer{
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center; 
        text-align: center; 
      }
}